# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

ADMIN_BOOTSTRAP_EMAIL="admin@admin.com"
ADMIN_BOOTSTRAP_PASSWORD=''
FRONTEND_URL="https://your_ip_address:1443/"
DATABASE_URL="mysql://user_root:123@mariadb:3306/mydb"
DATABASE_USER="user_root"
DATABASE_PASSWORD="123"
DATABASE_NAME="mydb"
DATABASE_HOST="mariadb"
DATABASE_PORT=3306
BDD_ROOT_PWD="root"
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
NODE_ENV="production"
PRISMA_MIGRATE_SHADOW=0
APP_42_ID=""
APP_42_SECRET=""
PORT='3100'
APP_42_CALLBACK="https://your_ip_address:1443/api/auth/42/callback"
APP_DISCORD_ID=""
APP_DISCORD_SECRET=""
APP_DISCORD_CALLBACK="https://your_ip_address:1443/api/auth/discord/callback"
HUGGING_TOKEN="your_hf_token_here"
